@layout.app({ title: t("") })
@slot('meta')
<meta name="description" content="Page of login">
@endslot
@slot('main')
<div class="flex min-h-screen justify-center bg-gray-100">
    <h1>Page de statistiques etc</h1>
    
</div>
@endslot
@end