TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app
AZURE_ACCOUNT_NAME=
AZURE_CONTAINER_PROFIL_IMAGE=
AZURE_ACCOUNT_KEY=
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
FIREBASE_SERVICE_ACCOUNT_PATH=
FIREBASE_DATABASE_URL=
FRONT_URL=http://localhost:8081
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_API_VERSION=
NAME_NOEUD_FIREBASE=
SESSION_DRIVER=cookie