<!DOCTYPE html>
<html>
  <head>
    <title>Notification de Lootopia</title>
  </head>
  <body>
    <h1>{{ hello }}</h1>
    <p>{{ message }}</p>
    <a href="{{ url }}">{{url_text}}</a>    
  </body>
</html>
